@font-face {
    font-family: 'Miniset';
    src: url(/client/img/MiniSet2.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Miniset";
}
body {
    margin:0px;
    overflow:hidden;
}